<nav>
  <div class="site-title">
    <a href="/"><h1>Tours Management System</h1></a>
  </div>
  <ul>
    <li><a href="/customers">Add customer</a></li>
    <li><a href="/trip">Add trip</a></li>
    <li><a href="/book">Book trip</a></li>
  </ul>
</nav>
