<html lang="eng">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="not-found content">
      <h2>Really?? This is an error page</h2>
      <h4><b>404 : Page not Found</b></h4>

      <img src="sad-dog.png" />
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
